# MY NOTEBOOK

In [4]:
x=1111
y=3

In [5]:
type(x/y)

float

In [6]:
type(x*y)

int

In [7]:
10%4

2

In [8]:
x.conjugate()

1111

In [2]:
mylist="i am feridun"

In [3]:
type(mylist)
print(mylist[2])

a

In [11]:
myseclist=[10,2,1]
type(myseclist)

list

In [5]:
me=list(list())
me=["ali","ay"]
len(me)

2

In [23]:
a=[1,2,3]
a+=str(4)
a

[1, 2, 3, '4']

In [21]:
mylist=[1,2,[3,"z"]]
new=mylist[2][1]
x=[1,2]

In [15]:
print("my name is",x[0],"haha")

my name is 1 haha

In [16]:
x=[1,2,35,131]
x[3]

131

In [17]:
a=1
b=2
x=a+b

In [18]:
print(x)

3

In [19]:
mylist=[1,2,3,1]
myliste=set(mylist)
type(myliste)

set

In [20]:
list1=['ahmet','bell','c',4]
list1[3]
type(list1)

list

In [1]:
mydic={"kilom":"72","me":"Feridun"}
for a in mydic.values():
    print(a)
print(mydic["kilom"])

72
Feridun
72

In [22]:
ar = [1,2]
if 4 in ar:
    print("asd")
else:
    print("fdsf")

fdsf

In [23]:
mybool=True
mybool

True

In [24]:
type(mybool)

bool

In [1]:
myseclist=[321,322,323,324,325]
len(myseclist)

5

In [3]:
x=4
y=1
x<y

False

In [14]:
number=[1,2,3,4,5]
a=0
for i in number:
    a+=1
    print(i)

1
2
3
4
5

In [6]:
name=["ali","ahmet","elif"]
print(name[1][2:])

met

In [28]:
for new in enumerate(range(5,10)):
    print(new)

(0, 5)
(1, 6)
(2, 7)
(3, 8)
(4, 9)

In [30]:
list(range(5,11))

[5, 6, 7, 8, 9, 10]

In [40]:
from random import randint
rand=randint(-4,4)
print(f"random numb:{rand}")

random numb:2

In [41]:
randint(0,13)

12

In [45]:
from random import shuffle
list2=list(range(0,12))
shuffle(list2)
list2

[9, 7, 11, 10, 6, 1, 8, 0, 2, 4, 3, 5]

In [58]:
day=["pzts","salı","pazar"]
spor=["futbol","basket","tenis"]
yemek=["makarna","tavuk","iskender"]
kcall=(100,300,250)
ever=list(zip(day,spor,yemek,kcall))

In [61]:
for a in enumerate(ever):
    print(a)

(0, ('pzts', 'futbol', 'makarna', 100))
(1, ('salı', 'basket', 'tavuk', 300))
(2, ('pazar', 'tenis', 'iskender', 250))

In [71]:
list3=[ numb**3 for numb in range(2,5)]
list3

[8, 27, 64]

In [73]:
help(list3.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [1]:
#funksiyon oluşturma
def myfunc(fcb):
    a=3
    b=2
    c=a*b*fcb
    return c

In [2]:
myfunc()
type(c)

TypeError: myfunc() missing 1 required positional argument: 'fcb'

In [5]:
value=myfunc(4)
print(value)

24

In [31]:
def endles(*args):
    print(args[1])

endles(3,2,7,2)

2

In [25]:
def endles2(**kwargs):
    print(kwargs["messi"])
   
endles2(messi=1,cr7=2,neymar="ali")

1

In [39]:
"m" in "messi"

True

In [96]:
def check(string):
    return "m" in string

In [97]:
stringlist=["messi","maradona","ronaldo","neymar"]
list(map(check,stringlist))

[True, True, False, True]

In [98]:
list(filter(check,stringlist))

['messi', 'maradona', 'neymar']

In [101]:
axe=lambda numb:numb*3
axe(3)

9

In [18]:
class car():
    speed=99
    clour="blue"
    marka="mustang"
    def hızlanma(self):
        self.speed=self.speed+10

In [19]:
mycar=car()
print("arabanın rengi",mycar.clour)
print("arabanın hızı",mycar.speed)
mycar.hızlanma()
print("yeni hızı",mycar.speed)

arabanın rengi blue
arabanın hızı 99
yeni hızı 109

In [112]:
class player:
    def __init__(self,name,team,country):
        self.name=name
        print("haha"+name)
        self.team=team
        self.country=country
    def pri(self):
        print(self.name,"\n",self.team,self.country)
player1=player("messi","barcelona","arjentin")
print(player1.name)

hahamessi
messi

In [84]:
class animal():
    def __init__(self,a):
        x=4*a
        print("sonuc:",x)
        print("metod 1 ")
    def met2(self):
        print("metod 2")

sonuc: 24
metod 1

In [85]:
class cat(animal):
    def __init__(self,a):
        super().__init__(a)
        print("hayvan geldi\n")
    def messi(self):
        print("kedi messidir")
    def met1(self):
        print("kedi  metod")

In [86]:
newcat=cat(3)

sonuc: 12
metod 1
hayvan geldi

In [17]:
newcat.messi()

kedi messidir

In [27]:
dog.met1()

metod 1

In [93]:
class elma():
    def __init__(self,name,kcal):
        self.name=name
        self.kcal=kcal
        print(type(kcal))
    def bilgi(self):
        return self.name+"100 kcal"
    def __len__(self):
        return self.kcal

In [94]:
class muz():
    def __init__(self,name):
        self.name=name
    def bilgi(self):
        return self.name+"100 kcal"

In [95]:
elma1=elma("elma",400)
muz1=muz("muz")
print(elma1.bilgi(),"\n",muz1.bilgi())

<class 'int'>
elma100 kcal
 muz100 kcal

In [78]:
meyveler=[elma1,muz1]
for meyve in meyveler:
    print(meyve.bilgi())

elma100 kcal
muz100 kcal

In [86]:
len(elma1)

400

In [5]:
import math
print(math.pi)
x=9

3.141592653589793

In [8]:
result=math.sqrt(x)
print(result)

3.0

In [9]:
a=pow(2,4)
print(a)

16

In [16]:
x="ahmet"
b="ahmet"
if x==b:
    print("both are same")

both are same

In [22]:
x=[4]
x.append("a")

In [23]:
x

[4, 'a']

In [27]:
x=["messi","neymar","suarez"]
y=["ronolda","ramos","benzama"]
fcb=[x,y]
print(fcb[0][1][2])

y

In [32]:
messi=("a","b")
messi.index("b")

1

In [33]:
for x in messi:
    print(x)

a
b

In [33]:
x=10
a=str(x)
type(a)

str

In [3]:
class duck:
    def walk(self):
        print("duck walking")
    def talk(self):
        print("duck talking")
class person():
    def catc(self,animal):
        animal.walk()
        animal.talk()
        print("hey you")
duck=duck()
person=person()
person.catc(duck)

duck walking
duck talking
hey you

In [6]:
liste=list()
liste.append("ali")
liste.append("me")
print(liste)

['ali', 'me']

In [7]:
import numpy as np
a=np.array([[1,2,3],[11,12,34]])
b=np.array([3,45,2])
a[:,2]

array([ 3, 34])

In [10]:
b.ndim

1

In [19]:
a[1,2]

34

In [45]:
np.full((2,3,2),7)

array([[[7, 7],
        [7, 7],
        [7, 7]],

       [[7, 7],
        [7, 7],
        [7, 7]]])

In [69]:
arr=np.ones((5,5))
y=np.zeros((3,3))
y[1,1]=9
arr[1:4,1:4]=y
print(arr)

[[1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 1.]
 [1. 0. 9. 0. 1.]
 [1. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1.]]

In [48]:
a=np.array([1,2,3])
b=a.copy()
b[1]=11
a

array([1, 2, 3])

In [55]:
c= np.identity(4)
print("Matrix c: \n",c)

Matrix c:
 [[1. 0. 0. 0.]
 [0. 1. 0. 0.]
 [0. 0. 1. 0.]
 [0. 0. 0. 1.]]

In [56]:
h1=np.array([1,2,3,4])
h2=np.array([5,6,7,8])
a1=np.vstack([h1,h2])
a1

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [57]:
v1=np.array([1,2,3,4])
v2=np.array([5,6,7,8])
a2=np.hstack((v1,v2))
a2

array([1, 2, 3, 4, 5, 6, 7, 8])

In [61]:
 v1[[1,2]]

array([2, 3])

In [1]:
import numpy as np
a=np.array([1,2,3,4])
b=np.array([5,2,3,1])
c=np.add(a,b)
c[0]=2
c

array([2, 4, 6, 5])

In [37]:
a=np.array([1,2,np.nan,np.inf])
print(np.isfinite(a))
type(a[3])

[ True  True False False]

numpy.float64

In [55]:
a=np.array([13,2,43])
b=np.array([13,14,21])
print(np.greater_equal(a,b))
print(b.itemsize)

[ True False  True]
4

In [61]:
a=np.zeros([3,2])
a

array([[0., 0.],
       [0., 0.],
       [0., 0.]])

In [75]:
x=np.arange(2,11).reshape([3,3])
x

array([[ 2,  3,  4],
       [ 5,  6,  7],
       [ 8,  9, 10]])

In [81]:
a=np.zeros(10)
a[5]=11
a

array([ 0.,  0.,  0.,  0.,  0., 11.,  0.,  0.,  0.,  0.])

In [107]:
x=np.arange(12,38)
x
print(x[::-1])

[37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14
 13 12]

In [109]:
a=[1,2,3,4]
b=np.array(b)
type(b)

numpy.ndarray

In [143]:
a=np.ones([5,5])
b=np.zeros([3,3])
a[1:4,1:4]=b
print(a[2,2])

0.0

In [141]:
from asyncio import constants


x=np.ones([3,3])
x[1,1]=5
x = np.pad(x, pad_width=1,mode='maximum')
x

array([[5., 1., 5., 1., 5.],
       [1., 1., 1., 1., 1.],
       [5., 1., 5., 1., 5.],
       [1., 1., 1., 1., 1.],
       [5., 1., 5., 1., 5.]])

In [1]:
import numpy as np
ar1=np.empty([8,8],dtype=int)
for a in range(0,8):
    for i in range(0,8):
        if a%2==0:
            if i%2==0:
                ar1[a,i]=0
            else:
                ar1[a,i]=1
        else:
            if i%2==0:
                ar1[a,i]=1
            else:
                ar1[a,i]=0
print(ar1)

[[0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]]

In [32]:
ap=np.array([10,30])
ap=np.append(ap,[[40,60],[70,80]])
print(ap)

[10 30 40 60 70 80]

In [40]:
x=np.array([3,2,1])
print(x.size,x.itemsize,x.nbytes)

3 4 12

In [41]:
c=[4,6,9]
a=[3,5,7]
b=[3,6,]
k=0
arr= [ [] for i in range(4)]
for i in range(0,len(b)):
     for j in range(0,len(a)):
        for t in range(0,len(c)):
            if b[i]>=a[t] and b[i]>=c[j]:
                arr[k].append(b[i])
                arr[k].append(c[j])
                arr[k].append(a[t])
                k=k+1
print(arr)

[[6, 4, 3], [6, 4, 5], [6, 6, 3], [6, 6, 5]]

In [102]:
class Solution:
    def real(self, nums) -> int:
        count=1
        m=0
        for i in range(len(nums)-1):
            if nums[i]!=nums[i+1]:
                nums[count]=nums[i+1]
                count+=1
            else:
                m+=1
        for k in range(len(nums)-m,len(nums)-1):
            nums[k]="_"
            nums.pop(k)
        return nums
ar=[1,1,1,1,2,3,6,7]
my=Solution()
print(my.real(ar))

[1, 2, 3, 6, 7, 6]

In [10]:
a="a "
print(a[-2])

a

SyntaxError: cannot assign to operator (3849566246.py, line 2)